<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring with Spring Boot, Spring MVC, and Kotlin</title>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Hello World!</h1>
<h2>This is my index page</h2>
<h2 th:text="'Viewed On: ' + ${#temporals.format(createdOn, 'dd-MMM-yyyy HH:mm')}">createdOn</h2>
<a th:href="@{/students/add}">Add New Student</a> | <a th:href="@{/students}">List All Student</a>
</body>
</html>